//
   Created by Charlie on 2017-08-02.

extends layout
mixin input-field(field, value, type,dataList)
    .weui-cell
        .weui-cell__hd
            label.weui-label(for=field)=field
        .weui-cell__bd
            input.weui-input(type=type, name=field, id=field,value=value, list=dataList)

block content
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    link(rel="stylesheet", href="/stylesheets/weui.css")
    link(rel="stylesheet" href="/stylesheets/user_info.css")
    .container
        h1.center_text Member Info
        form(method='POST' action='/user/update_info')
            .input-container
            - var fields = [["name","text"],["graduation","date"],["email","email"],["phone","tel"]];
            for field in fields
                +input-field(field[0], user[field[0]],field[1])
            +input-field("discipline",user.discipline,"text","disciplines")
            datalist#disciplines
                for discipline in disciplines
                    option=discipline.name
            input#open-id(type="hidden" name="openId" value="#{openId}")
            button.weui-btn.weui-btn_primary(type='submit') Submit
    script(src="/javascripts/user_info.js")
